* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-width: 1100px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.m1 {
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    margin-right: -30px;
}

body {
    background: #070A1B;
}

header {
    color: white;
}

.header-text {
    background-image: url("../ios.png");
    height: 500px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    border-top: 10px;
    border-radius: 100px 100px 0px 0px;
}

.tt {
    font-size: 60px;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    padding-top: 350px;
}

.tt h6 {
    font-size: 20px;
    margin-top: -1px;
    margin-bottom: 20px;
}

.afr {
    width: 120px;
    height: 110px;
    margin-top: -27px;
}

.main-start {
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 200px;
    text-align: justify;
    margin-left: 360px;
    display: block;
}

.mg {
    font-size: 18px;
    color: #F402A2;
    margin-bottom: 70px;
}

.main-start img {
    margin-top: 70px;
}

.boxone {
    color: white;
    font-size: 16px;
    margin-top: 100px;
    text-align: justify;
}

.premier {
    font-size: 18px;
    color: #F402A2;
}

.class {
    margin-bottom: 30px;
}

.classs {
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn {
    border: 2px solid;
    border-color: #F402A2;
    padding: 10px 260px 10px 260px;
    color: #F402A2;
    text-decoration: none;
    font-size: 20px;
}

.boxone img {
    margin-bottom: 30px;
}

.btn:hover {
    background: #F402A2;
    color: #070A1B;
    transition: 1s;
}

.boxtwo {
    color: white;
    font-size: 16px;
    margin-top: 100px;
    text-align: justify;
    margin-left: 20px;
}

.boxtwo img {
    margin-bottom: 30px;
}

.box {
    display: flex;
    justify-content: center;
}

.IMAGE {
    margin-top: 100px;
    margin-left: 57px;
}


.btnn {
    border: 2px solid;
    border-color: #F402A2;
    padding: 15px 530px 15px 530px;
    color: #F402A2;
    text-decoration: none;
    font-size: 20px;
}

.looop {
    margin-top: 30px;
    margin-left: 55px;
    margin-bottom: 200px;
}

.btnn:hover {
    background: #F402A2;
    color: #070A1B;
    transition: 1s;
}

.pink {
    font-size: 18px;
    color: #F402A2;
}

.catalog {
    color: white;
    font-size: 16px;
    margin-top: 30px;
    text-align: justify;
}

.lorem {
    display: flex;
    margin-left: 94px;
}

.catalog {
    margin-top: -8px;
    margin-left: -40px;
}

.imgg {
    margin-left: 40px;
}

.gtr {
    display: flex;
    margin-left: 392px;
    margin-top: -227px;
}

.gtg {
    color: white;
    font-size: 16px;
    margin-top: 30px;
    text-align: justify;
    margin-left: -30px;
}

.img2 {
    margin-left: 315px;
    margin-top: 20px;
}

.photos {
    display: flex;
    margin-top: 100px;
    margin-left: 7.50px;
    margin-bottom: 150px;
}

.src {
    width: 390px;
    height: 200px;
    margin-right: 30px;
}

.text {
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    text-align: justify;
    margin-left: 400px;
    margin-bottom: 100px;
}

.big{
    margin-left: 38px;
}

.imagee {
    width: 1349px;
    height: 700px;
    margin-top: 100px;
}

.id {
    color: white;
    padding: 50px;
}

